<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <p>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">RPM</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Heater">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </p>
    <p>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">RPM</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Extruder">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </p>
    <p>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">RPM</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Fiber">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </p>
</div>
</body>
</html>