<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script type="application/javascript" src="/static/api.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/dashboard">Tower Dashboard <span class="label label-success">beta</span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/users">Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% if wrong_credential %}
    <div class="alert alert-danger alert-dismissible" role="alert">{{ alert_text }}</div>
    {% endif %}
    <form action="/login" method="POST">
      <p>
        <div class="input-group">
          <span class="input-group-addon" id="username-addon">Username</span>
          <input type="text" name="username" class="form-control" placeholder="" aria-describedby="username-addon">
        </div>
      </p>
      <p>
        <div class="input-group">
          <span class="input-group-addon" id="password-addon">Password</span>
          <input type="password" name="password" class="form-control" placeholder="" aria-describedby="password-addon">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </span>
        </div>
      </p>
    </form>
  </div>
</body>

</html>