<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script type="application/javascript" src="/static/api.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/dashboard">Tower Dashboard <span class="label label-success">beta</span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/users">Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <table class="table">
      <tbody>
        <tr>
          <th width=150>Username</th>
          <th width=100>Master</th>
          <th width=200>Authorized</th>
        </tr>
        {% for username, user in users.items() %}
        <tr>
          <td>{{ username }}</td>
          <td>{{ user.master}} </td>
          <td>
            {{ user.authorized }}
            {% if not user.master and master %}
            {% if not user.authorized %}
            <div class="btn-group" style=float:right;><button type="button" class="btn btn-default" role="group"
                aria-label="Authorize" onclick="authorize('{{username}}', true)">Authorize</button></div>
            {% else %}
            <div class="btn-group" style=float:right;><button type="button" class="btn btn-danger" role="group"
                aria-label="Authorize" onclick="authorize('{{username}}', false)">Deauthorize</button></div>
            {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>